*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "pooppins",sans-serif;
}
/* nav section styling  */
.nav-area{
    height: 10vh;
    background-color: whitesmoke;
}
.nav-wrapper{
    height: 10vh;
    margin: 0px 65px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.nav-logo img{
    width: 9em;
    margin-right: 20px;
}
.popup{
  display: none;
}
.nav-container > ul{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.nav-container > ul > li{
    list-style: none;
}
.nav-menu{
    text-decoration: none;
    font-size: 14px;
    color: #2125298e;
    font-weight: 100;
}
.nav-menu:hover{
    color: #212529b6;
    transition: 1s;
}
.home-button{
    text-decoration: none;
    font-size: 14px;
    color: #212529;
}

/* banner section styling  */
  .banner-section{
    height: 90vh;
    background-color: white;
  }
  .banner-wrapper{
    height: 90vh;
    background-color: #FFECF0;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0px 70px;
  }
  .title-wrapper{
    margin: 50px;
  }
  .title-description{
    margin-bottom: 10px;
  }
  .title-description h4{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .title-description p{
    font-size: 16px;
    line-height: 25px;
  }
  .detailed-prices h4{
    font-size: 35px;
    font-weight: 600;
    color: rgba(255, 184, 6, 0.802);
  }
  .detailed-prices button{
    margin-top: 10px;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    width: 130px;
    height: 40px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
  }
  .img-wrapper-1 img{
    width: 400px;
  }

  /* category-section styling  */
  .category-section{
    height: 50vh;
    margin: 0px 70px;
  }
  .category-wrapper{
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
  .category-1{
    height: 45%;
    width: 33.33%;
    background-color: #ffc107;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  .category-1 img{
    height: 100%;
  }
  .category-1 h4{
    color: white;
    font-size: 37px;
    font-weight: 500;
  }
  .category-2{
    height: 45%;
    width: 33.33%;
    background-color: #198754;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  .category-2 img{
    height: 100%;
  }
  .category-2 h4{
    color: white;
    font-size: 37px;
    font-weight: 500;
  }
  .category-3{
    height: 45%;
    width: 33.33%;
    background-color: #0dcaf0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  .category-3 img{
    height: 100%;
  }
  .category-3 h4{
    color: white;
    font-size: 37px;
    font-weight: 500;
  }

  /* shoes section styling  */
  .shoes-section{
    height: 100vh;
  }
  .shoes-section h4{
    font-size: 27px;
    margin-bottom: -35px;
    margin-left: 70px;
    font-weight: 550;
  }
  .shoes-wrapper {
    height: 100vh;
    margin: 0 55px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  .sample-image img{
    width: 100%;
  }
  .shoes-category-wrapper{
    margin: 15px;
    height: 85vh;
    width: 33%;
    box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.212);
  }
  .category-container{
    margin: 15px;
  }
  .category-container h5{
    margin-top: 5px;
    height: 30px;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
  }
  .category-container p{
    height: 27vh;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
  }
  .category-container button{
    margin-top: 10px;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    width: 130px;
    height: 40px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
  }

  /* bags section styling  */
  .bags-section{
    height: 115vh;
  }
  .bags-section h4{
    font-size: 27px;
    margin-bottom: -10px;
    margin-left: 70px;
    font-weight: 550;
  }
  .bags-wrapper {
    margin: 0 55px; 
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    align-items: center;
}
  .bag-sample-image img{
    width: 100%;
  }
  .bags-category-wrapper {
    margin: 15px;
    width: 33%;
    box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.212);
    height: auto;
  }
  .bag-category-container{
    margin: 15px;
  }
  .bag-category-container h5{
    margin-top: 5px;
    height: 30px;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
  }
  .bag-category-container p{
    height: 20vh;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
  }
  .bag-category-container button{
    margin-top: 10px;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    width: 130px;
    height: 40px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
  }
  /* footer section styling  */

  .footer-section{
    height: 60vh;
    width: 100%;
  }
  .footer-wrapper{
    height: 50vh;
    margin: 0px 70px;
    background-color: #FFECF0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
  }
  .footer-menu h4{
    font-size: 34px;
  }
  .footer-menu p{
    font-size: 14px;
    margin-bottom: 10px;
  }
  .footer-menu input{
    height: 40px;
    border: none;
    padding-left: 30px;
    border-radius: 5px;
  }
  .footer-menu button{
    margin-top: 10px;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    width: 100px;
    height: 40px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
  }
  .footer-copyright{
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
  }
  .footer-copyright p{
    font-size: 14px;
    color: rgb(37, 37, 37);
  }