*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "pooppins",sans-serif;
}
/* nav section styling  */
.nav-area{
    height: 10vh;
    background-color: whitesmoke;
}
.nav-wrapper{
    height: 10vh;
    margin: 0px 65px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.nav-logo img{
    width: 9em;
    margin-right: 20px;
}
.nav-container > ul{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.nav-container > ul > li{
    list-style: none;
}
.nav-menu{
    text-decoration: none;
    font-size: 14px;
    color: #2125298e;
    font-weight: 100;
}
.nav-menu:hover{
    color: #212529b6;
    transition: 1s;
}
.home-button{
    text-decoration: none;
    font-size: 14px;
    color: #212529;
}

/* banner section styling  */
  .banner-section{
    height: 90vh;
    background-color: white;
    margin: 0px 70px;
  }
  .banner-wrapper{
    height: 90vh;
    background-color: #FFECF0;
    display: flex;
    align-items: center;
    position: relative;
  }
  .title-wrapper{
    margin: 50px;
  }
  .title-description{
    margin-bottom: 10px;
  }
  .title-description h4{
    font-size: 35px;
    font-weight: 545;
    margin-bottom: 10px;
  }
  .title-description p{
    font-size: 14px;
    line-height: 25px;
  }
  .detailed-prices h4{
    font-size: 35px;
    font-weight: 600;
    color: rgba(255, 184, 6, 0.802);
  }
  .detailed-prices button{
    margin-top: 10px;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    width: 130px;
    height: 40px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
  }
  .img-wrapper-1 img{
    width: 400px;
  }

  /* category-section styling  */
  .category-section{
    height: 35vh;
    margin: 0pc 70px;
  }
  .category-wrapper{
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
  .category-1{
    height: 45%;
    width: 33.33%;
    background-color: #ffc107;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  .category-1 img{
    height: 100%;
  }
  .category-1 h4{
    color: white;
    font-size: 37px;
    font-weight: 500;
  }
  .category-2{
    height: 45%;
    width: 33.33%;
    background-color: #198754;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  .category-2 img{
    height: 100%;
  }
  .category-2 h4{
    color: white;
    font-size: 37px;
    font-weight: 500;
  }
  .category-3{
    height: 45%;
    width: 33.33%;
    background-color: #0dcaf0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  .category-3 img{
    height: 100%;
  }
  .category-3 h4{
    color: white;
    font-size: 37px;
    font-weight: 500;
  }

  